#content a.caltrigger {
    background: url(++resource++plone.formwidget.datetime/popup_calendar.gif) no-repeat scroll 0 0;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: none;
}
